* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.signup {
    background-image: url('../images/bg-img1.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.glass {
    background: rgba(248, 248, 249, 0.35);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.09);
}